body {
    background-color: #000000;
    color: #ffffff;
    font-family: MyCustomFont;
    text-align: center;
}

@font-face {
    font-family: MyCustomFont;
    src: url('Death Note Font.ttf');
}

#deadEmailP {
    color: #eee;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

